/*-------------------------------------------------------------------
    파일정의 : _variables.scss # scss 변수
-------------------------------------------------------------------*/

//=============================================
//         		Layout Variables
//=============================================
// $defaultWidth: rem(1240);
$headerHeight: rem(40);
$footerHeight: rem(40);
// $headerCircleSize: rem(64);
// $mainVisualHeight: rem(721);
// $subVisualHeight: rem(250);
// $defaultMargin: rem(8);

// Breakpoints ( chrome browser 기준 )
// $breakpoint-laptop-sm: 1540px;
// $breakpoint-tablet-hor: 1024px;
// $breakpoint-tablet-ver: 768px;
// $breakpoint-mobile: 425px;

//=============================================
//         		color Variables
//=============================================
$primary: #e6f0f8;
$gradientColor1: #8c93f8;
$gradientColor2: #bee2fc;
$paleGray: #f8f8fb;
$bgGray: #f5f5f5;

//=============================================
//         		font Variables
//=============================================
$defaultFontSize: rem(16);

//=============================================
//         		btn Variables
//=============================================
// btn height
// $btnDefaultHeightSize: rem(50);
// $btnSmallHeightSize: rem(44);
// $btnMediumHeightSize: rem(55);
// $btnLargeHeightSize: rem(64);
// $btnXlargeHeightSize: rem(68);
